<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> PahiramKotseHP </title>
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/homepage.css">
</head>
<body>
        <div class="name">
            <img src="/images/logo.png" width="600px">
            <div class="desc">
                <h3> In need of a Car? Pahiram ka nalang! </h3>
            </div>
        </div>

        <div class="home-flex">
        
        <div class="home-left">
            <h2>Reliable cars for cheaper prices!</h2>

            <div class="name">
                <div class="proceed">
                    <a href="/register" class="regbtn">Register Now!</a>
                </div>
                <br>
                <br>
                <div class = "footer">Already Registered?</div>
                <div class="proceed">
                    <a href="/login" class="regbtn">Login Now!</a>
                </div>
                
            </div>
        </div>

    <div class="home-right">
        <section class="carssection">
            <h2>The Customers' Choice!</h2>
                {{#each featuredCars}}
                <div class="carsquare">
                    <h3>{{this.carType}}</h3>
                    <p>${{this.dailyRate}}/day</p>
                    <button class="carbtn" onclick="window.location.href='/login'">View Details</button>
                </div>
                <br> <br> <br>
                {{/each}}
        </section>
    </div>
    </div>

    <footer>
        <div class="footerContainer">
            <p> This is an MCO project for GDAPDEV XX22 by Group 4. </p>
            <a href="/contact-us" class="disable-link"> Contact Us</a>
            <p> | </p>
            <a href="/about" class="disable-link">  About</a>
        </div>
    </footer>
</body>
</html>